<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            
            <section name="HealthStation.Properties.StationSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HealthStation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="HealthStation.Properties.StationSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        
        <HealthStation.Properties.StationSettings>
            <setting name="ComPortBloodPressure" serializeAs="String">
                <value>COM13</value>
            </setting>
            <setting name="ComPortBodyFat" serializeAs="String">
                <value>COM12</value>
            </setting>
            <setting name="ComPortWeight" serializeAs="String">
                <value>COM5</value>
            </setting>
            <setting name="ComPortHeight" serializeAs="String">
                <value>COM11</value>
            </setting>
            <setting name="Branding" serializeAs="String">
                <value>CompanyLogo</value>
            </setting>
            <setting name="HeartbeatTime" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VolumeMedia" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="VolumeClick" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="WDTPort" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="ScanForDevices" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NewSelectionScreen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Production" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Group" serializeAs="String">
                <value>Dev001</value>
            </setting>
            <setting name="TouchButtonDelay" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="TrialQuestionnaire" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ComPortBarcodeScanner" serializeAs="String">
                <value>COM14</value>
            </setting>
            <setting name="ScanMembershipCard" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SimulateScanner" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScanMembershipCardMessageColes" serializeAs="String">
                <value>Scan your Flybuys card now to receive 50 extra points</value>
            </setting>
            <setting name="ScanMembershipCardMessageGeneric" serializeAs="String">
                <value>Scan your membership card now to receive extra points</value>
            </setting>
            <setting name="DisplayAdsDuringUserSession" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AdBackgroundColor" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
            <setting name="MobileConnectionName" serializeAs="String">
                <value />
            </setting>
            <setting name="UnitsLocale" serializeAs="String">
                <value>AU</value>
            </setting>
            <setting name="FeedbackFormDisplay" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FeedbackFormQuestion" serializeAs="String">
                <value>Is completing this Health Check the main reason you came to this store today?</value>
            </setting>
        </HealthStation.Properties.StationSettings>
    </userSettings>
    <applicationSettings>
        <HealthStation.Properties.Settings>
            <setting name="ThemeColorGreen" serializeAs="String">
                <value>#FF00A44D</value>
            </setting>
            <setting name="EmailLogFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MediaSubfolder" serializeAs="String">
                <value>Media</value>
            </setting>
            <setting name="AdvertsSubfolder" serializeAs="String">
                <value>Adverts</value>
            </setting>
            <setting name="SISUMediaFolder" serializeAs="String">
                <value>SISUMedia</value>
            </setting>
            <setting name="KioskRootFolder" serializeAs="String">
                <value>Documents\HealthStation</value>
            </setting>
            <setting name="TestResultsSubfolder" serializeAs="String">
                <value>TestResultImages</value>
            </setting>
            <setting name="EmailFrom" serializeAs="String">
                <value>dev@acme.com</value>
            </setting>
            <setting name="EmailTo" serializeAs="String">
                <value>dev@acme.com</value>
            </setting>
            <setting name="EmailPassword" serializeAs="String">
                <value>acmepass</value>
            </setting>
            <setting name="SMTPServer" serializeAs="String">
                <value>smtp.acme.com</value>
            </setting>
            <setting name="EmailSSL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AnimateScreenChange" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FontFamily" serializeAs="String">
                <value>Arial</value>
            </setting>
            <setting name="DefaultLanguage" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="SimHeight" serializeAs="String">
                <value>186</value>
            </setting>
            <setting name="SimSYS" serializeAs="String">
                <value>112</value>
            </setting>
            <setting name="SimDIA" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="SimHR" serializeAs="String">
                <value>52</value>
            </setting>
            <setting name="EmailTo1" serializeAs="String">
                <value />
            </setting>
            <setting name="SimBodyFat" serializeAs="String">
                <value>10.1</value>
            </setting>
            <setting name="ThemeColorGray" serializeAs="String">
                <value>#FF808080</value>
            </setting>
            <setting name="FontSizeTitle" serializeAs="String">
                <value>74</value>
            </setting>
            <setting name="FontSizeBullet" serializeAs="String">
                <value>33</value>
            </setting>
            <setting name="FontSizeParagraph" serializeAs="String">
                <value>33</value>
            </setting>
            <setting name="ThemeColorDarkGray" serializeAs="String">
                <value>#FF505050</value>
            </setting>
            <setting name="FontSizeLabel" serializeAs="String">
                <value>48</value>
            </setting>
            <setting name="FontTitle" serializeAs="String">
                <value>Arial, 74.25pt, style=Bold</value>
            </setting>
            <setting name="FontParagraph" serializeAs="String">
                <value>Arial, 33pt, style=Bold</value>
            </setting>
            <setting name="FontLabel" serializeAs="String">
                <value>Arial, 48pt, style=Bold</value>
            </setting>
            <setting name="ThemeColorWhite" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
            <setting name="ThemeColorBlue" serializeAs="String">
                <value>#FF22B0E6</value>
            </setting>
            <setting name="ThemeColor1" serializeAs="String">
                <value>#FFD49A9E</value>
            </setting>
            <setting name="ThemeColor1h" serializeAs="String">
                <value>#FFCE1111</value>
            </setting>
            <setting name="ThemeColor2" serializeAs="String">
                <value>#FFDDB3A7</value>
            </setting>
            <setting name="ThemeColor2h" serializeAs="String">
                <value>#FFE7552B</value>
            </setting>
            <setting name="ThemeColor3" serializeAs="String">
                <value>#FFE8D7B3</value>
            </setting>
            <setting name="ThemeColor3h" serializeAs="String">
                <value>#FFFCB549</value>
            </setting>
            <setting name="ThemeColor4" serializeAs="String">
                <value>#FFC8DFB1</value>
            </setting>
            <setting name="ThemeColor4h" serializeAs="String">
                <value>#FF8BC645</value>
            </setting>
            <setting name="ThemeColor5" serializeAs="String">
                <value>#FFBBD1E3</value>
            </setting>
            <setting name="ThemeColor5h" serializeAs="String">
                <value>#FF58B0E3</value>
            </setting>
            <setting name="ThemeColorRed" serializeAs="String">
                <value>#FFFF0000</value>
            </setting>
            <setting name="FontSizeInProgress" serializeAs="String">
                <value>48</value>
            </setting>
            <setting name="ThemeColorPaleGray" serializeAs="String">
                <value>#FFA8A8A8</value>
            </setting>
            <setting name="ThemeColorPaleGray2" serializeAs="String">
                <value>#FFECE8E8</value>
            </setting>
            <setting name="SimWeight" serializeAs="String">
                <value>79</value>
            </setting>
            <setting name="SimBodyFatError" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SimBloodPressureError" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FontSizeFooter" serializeAs="String">
                <value>26</value>
            </setting>
            <setting name="EmailResults" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PasswordLength" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="FontSizeScore" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="FontSizeScoreLabel" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="SimAuto" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SimAutoTime" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SimUsername" serializeAs="String">
                <value>dev@acme.com</value>
            </setting>
            <setting name="SimPassword" serializeAs="String">
                <value>acmepass</value>
            </setting>
            <setting name="SoundEffects" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ThemeColorBrightGreen" serializeAs="String">
                <value>#FF54F744</value>
            </setting>
        </HealthStation.Properties.Settings>
        <HealthStation.Properties.StationSettings>
            <setting name="StationName" serializeAs="String">
                <value>SISUStation00</value>
            </setting>
            <setting name="SimulateAll" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FixedMainScreenSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StationKeyDev" serializeAs="String">
                <value>ADDJ3976EG12309UUH76312TVBE0127T7EBK007H</value>
            </setting>
            <setting name="DisplayAdScreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AdDisplayPeriod" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ScreenTimeoutTime" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="DefaultUnits" serializeAs="String">
                <value>Metric</value>
            </setting>
            <setting name="HeightSensorHeight" serializeAs="String">
                <value>231.5</value>
            </setting>
            <setting name="WeightMinimum" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="SimulateBodyFat" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SimulateBloodPressure" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SimulateWeight" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SimulateHeight" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BodyFatStartCountDownTime" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ConfigVersion" serializeAs="String">
                <value>1.1.3</value>
            </setting>
            <setting name="CPUType" serializeAs="String">
                <value>Generic</value>
            </setting>
            <setting name="StartupDelay" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="BPInitialInflate" serializeAs="String">
                <value>140</value>
            </setting>
            <setting name="SoftwareUpdateServerURL" serializeAs="String">
                <value>ftp://config.acme.com</value>
            </setting>
            <setting name="LogFileUploadURL" serializeAs="String">
                <value>ftp://config.acme.com</value>
            </setting>
            <setting name="WeightNewUser" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="SISUServerDev" serializeAs="String">
                <value>dev.clickonhealthcheck.com</value>
            </setting>
            <setting name="StationKeyProd" serializeAs="String">
                <value>PROD3976EG12309UUH76312TVBE0127T7EBK007H</value>
            </setting>
            <setting name="SISUServerProd" serializeAs="String">
                <value>clickonhealthcheck.com</value>
            </setting>
        </HealthStation.Properties.StationSettings>
    </applicationSettings>
</configuration>